@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/SiteRsc/js/libs/jQuery1.8.2/jQuery1.8.2-min.js" type="text/javascript"></script>
<script src="~/SiteRsc/js/metodosAction.js" type="text/javascript"></script>

@* sdf *@
 
@using ActivosMvc.Modelo
@using ActivosMvc.DAO
@using ActivosMvc.Enums
@using ActivosMvc.Services
@model ActivoAsignado

@using (Html.BeginForm("Index", "Salidas", FormMethod.Post))
{
    <table>
        <tr>
            <td>Rubro</td>
            <td>
               @Html.DropDownListFor(a => a.Almacen.Id, new SelectList(new CatalogosServices().getListadoAlmacenes(),"Id", "Descripcion"), new {@class="input_select"}) 
            </td>
            <td>Conceptos</td>
            <td colspan="3">
               @Html.DropDownListFor(a => a.Id, new SelectList(ActivoDAO.getInstance().getListActivosPorAlmacen(),"Id", "Descripcion"), new {@class="input_select",style="width:300px;"})
            </td>         
        </tr>
        <tr>
            <td>Cantidad</td>
            <td colspan="3">@Html.EditorFor(a => a.CantidadAsignada)</td>
        </tr>
        <tr>
            <td>Direccion</td>
            <td>
               @Html.DropDownListFor(a => a.Area.Id, new SelectList(AreaDAO.getInstance().getListDirecciones(Convert.ToInt32(NivelArea.DIRECCION)),"Id", "Descripcion"), new {@class="input_select"})
            </td>
            <td>Departamento</td>
            <td>
               @Html.DropDownListFor(a => a.Area.Id, new SelectList(AreaDAO.getInstance().getListDirecciones(Convert.ToInt32(NivelArea.DEPARTAMENTO)),"Id", "Descripcion"), new {@class="input_select"})
            </td>
            <td>Subdepartamento</td>
            <td>
                @Html.DropDownListFor(a => a.Area.Id, new SelectList(AreaDAO.getInstance().getListDirecciones(Convert.ToInt32(NivelArea.SUBDEPARTAMENTO)),"Id", "Descripcion"), new {@class="input_select"})
            </td>
            <td>Agencia</td>
            <td>
                @Html.DropDownListFor(a => a.Area.Id, new SelectList(AreaDAO.getInstance().getListDirecciones(Convert.ToInt32(NivelArea.AGENCIA)),"Id", "Descripcion"), new {@class="input_select"})
            </td>
        </tr>
        <tr>
            <td><input type="button" value="Aceptar" id="btnAceptar" class="btn_metro"/> </td>
        </tr>
    </table>
    @*,@onchange = "llenarColonias();" *@
}

